/* fontos! */

@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter-VariableFont_slnt,wght.ttf);
}

@font-face {
    font-family: Inter-Regular;
    src: url(assets/fonts/static/Inter-Regular.ttf);

    font-family: Inter-Bold;
    src: url(assets/fonts/static/Inter-Bold.ttf);

    font-family: Inter-SemiBold;
    src: url(assets/fonts/static/Inter-SemiBold.ttf);
}

/* stylying starts */

* {
    margin: 0;
    box-sizing: border-box;
}

::selection {
    color: hsl(0, 0%, 20%);
    background-color: hsl(75, 94%, 57%);
}

body {
    font-family: Inter;
    background-color: hsl(0, 0%, 8%);
}

main {
    padding: 7.2em 0;
    min-height: 100vh;
}

container {
    max-width: 28em;
    height: auto;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 2.6em;
    text-align: center;
    border-radius: 0.8em;
    color: white;
    background-color: hsl(0, 0%, 12%);
}

container img {
    width: 30%;
    border-radius: 100%;
    margin: 0 auto;
}

p {
    font-size: 14px;
    margin: 1em 0 0 0;

}

.whereabouts {
    font-weight: 700;
    color: hsl(75, 94%, 57%);
}

.quote {
    margin: 0.6em;
}

.social-links {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0.4em;
    padding: 1em 0;
    border-radius: 0.5em;
    color: white;
    background-color: hsl(0, 0%, 20%);
}


.social-links:hover {
    color: hsl(0, 0%, 20%);
    background-color: hsl(75, 94%, 57%);
    transition: 0.4s;
}

/* footer */

.attribution {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0em 0.4em 0.8em 0.4em;
    background-color: black;
    font-weight: normal;
}

.attribution,
a {
    color: white;
    text-decoration: none;
}

.frontendmentor {
    font-size: 1em;
    font-weight: bold;
    padding: 1.7%;
    color: rgb(82, 82, 179);
    border-radius: 3px;
    border: 2px dashed rgb(82, 82, 179);
}

.frontendmentor a:hover {
    color: blueviolet;
}

.mela {
    font-size: 1em;
    font-weight: bold;
    padding: 1.7%;
    color: blueviolet;
    border-radius: 3px;
    border: 2px dashed blueviolet;
}

.mela a:hover {
    color: rgb(82, 82, 179);
}

@media (max-width: 650px) {
    container {
        width: 88%;
        padding: 1.1em;
    }

    .social-links {}

    .attribution {
        display: block;
        padding: 0.1em 0 0 0;
    }

    .frontendmentor,
    .mela {
        margin: 0.4em;
        text-align: center;
        padding: 3%;
    }
}